@use '../helpers/' as *;

.header {
  padding-block: 15px;

  @include tablet {
    padding-block: 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 79px;

    @include desktop {
      column-gap: 30px;
    }

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__logo {
    flex-shrink: 0;
  }

  &__menu {
    white-space: nowrap;

    @include tablet {
      padding-top: 20px;
      order: 1;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 48px;

      @include desktop {
        column-gap: 30px;
      }

      @include mobile {
        flex-wrap: wrap;
      }
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;

      @include hover {
        opacity: 0.8;

        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }

  &__right-block {
    display: flex;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-wrap: nowrap;

    @include mobile {
      column-gap: 10px;
    }

    &-worktime {
      display: flex;
      flex-direction: column;
      align-items: end;
      row-gap: 4px;

      @include mobile {
        font-size: 13px;
        order: 0;
      }
    }

    &-info {
      position: relative;
      color: var(--color-gray);
      font-size: 12px;

      &::before {
        @include square(8px);

        content: '';
        position: absolute;
        top: 15%;
        left: -13%;
        background-color: #0dc268;
        border-radius: 50%;
      }

      @include tablet {
        font-size: 10px;
      }
    }

    &-button {
      height: 48px !important;
    }
  }

  &__burger-button {
    background-color: transparent;
    border: none;
  }
}
