@use '../helpers/' as *;

.radio {
  display: flex;
  align-items: center;
  column-gap: 14px;
  transition-duration: var(--transition-duration);
  cursor: pointer;

  @include hover {
    opacity: 0.7;
  }

  &__input {
    &:not(:checked) + .radio__emulator::after {
      opacity: 0;
    }
  }

  &__emulator {
    @include flex-center;
    @include square(18px);

    position: relative;
    background-color: var(--color-light);
    border-radius: 50%;
    flex-shrink: 0;

    &::after {
      @include abs-center;
      @include square(19px);

      content: '';
      border: 5px solid var(--color-accent);
      border-radius: inherit;
      transition-duration: var(--transition-duration);
    }
  }
}
