@use '../helpers/' as *;

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;

  &__title {
    align-self: start;

    @include mobile {
      align-self: center;
    }
  }
}
