.bg-dark {
  background-color: var(--color-dark);

  &__hero {
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    max-width: 1440px;

    @include mobile {
      border-radius: 0 0 40px 40px;
    }
  }
}
