.button {
  @include flex-center(true);

  height: var(--button-height);
  padding: 12px 40px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius-button);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;

  @include hover {
    color: var(--color-dark);
    background-color: var(--color-light);
  }

  &--accent {
    color: var(--color-light);
    background-color: var(--color-dark);
    font-weight: 500;

    @include hover {
      background-color: var(--color-accent);
      color: var(--color-light);
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &--consultation {
    color: var(--color-light);
    background-color: var(--color-accent);

    @include hover {
      background-color: var(--color-dark);
      color: var(--color-light);
    }
  }
}
