.calculator {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 60px;
  color: var(--color-light);

  @include tablet {
    padding-inline: 30px;
  }

  @include mobile {
    padding-inline: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;

    @include tablet {
      column-gap: 20px;
    }

    @include mobile-s {
      flex-direction: column;
      row-gap: 32px;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    flex: 1;

    @include mobile-s {
      width: 100%;
    }

    &-title {
      padding-bottom: 16px;
      border-bottom: 1px solid #ebebeb;
    }
  }

  &__button {
    align-self: start;

    @include tablet {
      align-self: center;
      width: 100%;
    }
  }

  &__group {
    display: flex;

    &.hidden-tablet {
      flex-direction: row;
      column-gap: 32px;
    }

    &.visible-tablet {
      flex-direction: column;
      row-gap: 32px;
      width: 100%;
      flex: 1;
    }
  }
}
