.calculator {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 60px;
  color: var(--color-light);

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
  }

  &__item {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    flex: 1;

    &-title {
      padding-bottom: 16px;
      border-bottom: 1px solid #ebebeb;
    }
  }

  &__button {
    align-self: start;

    @include tablet {
      align-self: center;
      width: 100%;
    }
  }
}
