.field {
  --fieldInputBorderRadius: 6px;
  --fieldInputBgColor: var(--color-light);

  display: flex;
  flex-direction: column;
  row-gap: 7px;

  @include tablet {
    padding-bottom: 10px;
  }

  &__input {
    width: 100%;
    height: var(--input-height);
    padding-inline: 11px;
    border: 1px solid var(--fieldInputBorderColor);
    border-radius: var(--fieldInputBorderRadius);
    cursor: pointer;

    &:focus-visible {
      border-color: var(--color-accent);
      outline: none;
    }
  }

  &__label {
    color: var(--color-gray);
    white-space: nowrap;
  }
}
