.info-card {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__link-title {
    position: relative;
    padding-bottom: 24px;

    &::after {
      position: absolute;
      content: "";
      width: 32px;
      aspect-ratio: 1;
      top: 8%;
      left: 90%;
      background-image: url("../../images/arrow-right.svg");

      @include desktop {
        width: 24px;
        aspect-ratio: 1;
        top: 3%;
      }

      @include tablet {
        top: 0;
        left: 95%;
      }
    }
  }

  &__title {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    padding-left: 32px;
    line-height: 1.4;
    // max-width: 320px;

    &::before {
      position: absolute;
      content: "";
      width: 24px;
      aspect-ratio: 1;
      top: 0;
      left: 0;
      background-image: url("../../images/check-mark.svg");
    }
  }
}
