.parameters {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  row-gap: 16px;


  &__product-group {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile-s {
      padding-bottom: 0;
    }
  }
}
