.parameters {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: 10px;

  &__product-group {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 17px;
    padding-bottom: 10px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile-s {
      padding-bottom: 0;
    }
  }
}
