.shipping-info {
  max-width: 339px;
  display: flex;
  flex-direction: column;

  @include tablet {
    max-width: 300px;
  }

  @include mobile-s {
    min-width: 100%;
   }

  &__delivery-types {
    padding-top: 20px;
  }
}
