.title {
  padding-bottom: 40px;

  @include mobile {
    padding-bottom: 32px;
  }

  &-info {
    padding-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    font-size: clamp(16px, 1.39vw, 20px);
  }
}
