:root {
  --color-dark: #2c2d2e;
  --color-gray: #919399;
  --color-gray-dark: #2C2D2ECC;
  --color-light: #ffffff;
  --color-beige-light: #fbfbfb;
  --color-accent: #ff6743;

  --border-radius: 24px;
  --border-radius-small: 16px;
  --border-radius-large: 0px 0px 100px 100px;
  --border-radius-button: 30px;

  --shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

  --font-family-base: "Inter", sans-serif;

  --container-width: 1200px;
  --container-padding-x: 20px;

  --section-padding-y: 120px;

  --input-height: 40px;
  --input-height-large: 46px;
  --button-height: 56px;

  --transition-duration: 0.2s;
}
