@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями
   */
img {
  display: block;
  max-width: 100%;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

/** Скрыть стрелки при инпуте
**/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
}

/**
    Плавный скролл
   */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/**
    Приводим к единому цвету svg-элементы
   */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #2c2d2e;
  --color-gray: #919399;
  --color-gray-dark: #2C2D2ECC;
  --color-light: #ffffff;
  --color-beige-light: #fbfbfb;
  --color-accent: #ff6743;
  --border-radius: 24px;
  --border-radius-small: 16px;
  --border-radius-large: 0px 0px 100px 100px;
  --border-radius-button: 30px;
  --shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  --font-family-base: "Inter", sans-serif;
  --container-width: 1200px;
  --container-padding-x: 20px;
  --section-padding-y: 120px;
  --input-height: 38px;
  --input-height-large: 46px;
  --button-height: 56px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media (max-width: 767px) {
  .container {
    padding-inline: calc(var(--container-padding-x) / 2);
  }
}
.container-hero {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 480px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (min-width: 481px) {
  .visible-mobile-s {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(32px, 3.8888888889vw, 56px);
}

h2,
.h2 {
  font-size: clamp(32px, 3.3333333333vw, 48px);
}

.h2-2 {
  font-size: clamp(20px, 2.2222222222vw, 32px);
}

h3,
.h3 {
  font-size: clamp(20px, 1.7361111111vw, 25px);
}

h4,
.h4 {
  font-size: clamp(16px, 1.3888888889vw, 20px);
}

.header {
  padding-block: 15px;
}
@media (max-width: 1023px) {
  .header {
    padding-block: 10px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 79px;
       column-gap: 79px;
}
@media (max-width: 1280px) {
  .header__inner {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 1023px) {
  .header__inner {
    flex-wrap: wrap;
  }
}
.header__logo {
  flex-shrink: 0;
}
.header__menu {
  white-space: nowrap;
}
@media (max-width: 1023px) {
  .header__menu {
    padding-top: 20px;
    order: 1;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .header__menu-list {
    flex-wrap: wrap;
  }
}
.header__menu-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
}
@media (hover: hover) {
  .header__menu-link:hover {
    opacity: 0.8;
  }
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active {
    opacity: 0.8;
  }
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__right-block {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .header__right-block {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.header__right-block-worktime {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 4px;
}
@media (max-width: 767px) {
  .header__right-block-worktime {
    font-size: 13px;
    order: 0;
  }
}
.header__right-block-info {
  position: relative;
  color: var(--color-gray);
  font-size: 12px;
}
.header__right-block-info::before {
  width: 8px;
  aspect-ratio: 1;
  content: "";
  position: absolute;
  top: 25%;
  left: -13%;
  background-color: #0dc268;
  border-radius: 50%;
}
@media (max-width: 1023px) {
  .header__right-block-info {
    font-size: 10px;
  }
}
.header__right-block-button {
  height: 48px !important;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding: 12px 40px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius-button);
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
}
.button--accent {
  color: var(--color-light);
  background-color: var(--color-dark);
  font-weight: 500;
}
@media (hover: hover) {
  .button--accent:hover {
    background-color: var(--color-accent);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button--accent:active {
    background-color: var(--color-accent);
    color: var(--color-light);
  }
}
@media (max-width: 767px) {
  .button--accent {
    font-size: 16px;
  }
}
.button--consultation {
  color: var(--color-light);
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .button--consultation:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button--consultation:active {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-block: var(--section-padding-y);
}
@media (max-width: 1280px) {
  .hero__main {
    padding-block: 60px;
  }
}
@media (max-width: 767px) {
  .hero__main {
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 24px;
  color: var(--color-light);
}
@media (max-width: 1023px) {
  .hero__body {
    row-gap: 16px;
    padding-bottom: 10px;
  }
}
.hero__title {
  font-size: clamp(32px, 3.89vw, 56px);
  line-height: 1.1;
}
.hero__description {
  font-size: clamp(16px, 1.53vw, 22px);
  max-width: 525px;
  line-height: 1.3;
}
.hero__image {
  margin-right: 56px;
}
@media (max-width: 1280px) {
  .hero__image {
    max-width: 40%;
    height: auto;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .hero__image {
    max-width: 330px;
    height: auto;
  }
}
.hero__button {
  margin-top: 26px;
}
@media (max-width: 1023px) {
  .hero__button {
    margin-top: 16px;
    max-width: 223px;
  }
}

.section:not(:first-child) {
  padding-block: var(--section-padding-y);
}
@media (max-width: 1023px) {
  .section:not(:first-child) {
    padding-top: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 1023px) {
  .section:first-child {
    padding-bottom: 60px;
  }
}
.section:nth-child(5) {
  padding-top: 0px;
}
.section:nth-child(6) {
  padding-block: 0px;
}

.bg-color__dark {
  background-color: var(--color-dark);
  border-radius: var(--border-radius);
}
.bg-color__dark-hero {
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  max-width: 1440px;
}
@media (max-width: 1280px) {
  .bg-color__dark-hero {
    border-radius: 0 0 40px 40px;
  }
}
.bg-color__beige {
  background-color: var(--color-beige-light);
}
.bg-color__container {
  max-width: var(--container-width);
  margin-inline: auto;
}
@media (max-width: 1023px) {
  .bg-color__container {
    border-radius: 0;
    margin-inline: 0;
  }
}

.info-card__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.info-card__link-title {
  position: relative;
  padding-bottom: 24px;
}
.info-card__link-title::after {
  content: "";
  position: absolute;
  width: 32px;
  aspect-ratio: 1;
  top: 8%;
  left: 90%;
  background-image: url("../../images/arrow-right.svg");
}
@media (max-width: 1280px) {
  .info-card__link-title::after {
    width: 24px;
    aspect-ratio: 1;
    top: 3%;
  }
}
@media (max-width: 1023px) {
  .info-card__link-title::after {
    top: 0;
    left: 95%;
  }
}
.info-card__title {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  padding-left: 32px;
  line-height: 1.4;
}
.info-card__title::before {
  content: "";
  position: absolute;
  width: 24px;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  background-image: url("../../images/check-mark.svg");
  color: var(--color-accent);
}

.info-cards__list {
  margin-top: -76px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 1280px) {
  .info-cards__list {
    margin-top: -47px;
  }
}
@media (max-width: 1023px) {
  .info-cards__list {
    flex-direction: column;
    row-gap: 16px;
  }
}
@media (max-width: 767px) {
  .info-cards__list {
    padding-inline: 10px;
  }
}
.info-cards__item {
  flex: 1;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  max-width: 100%;
  box-shadow: var(--shadow);
  padding: 32px 28px;
}
@media (max-width: 1023px) {
  .info-cards__item {
    margin-bottom: 0;
  }
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.about__body {
  display: flex;
  align-items: center;
  -moz-column-gap: 113px;
       column-gap: 113px;
}
@media (max-width: 1280px) {
  .about__body {
    -moz-column-gap: 95px;
         column-gap: 95px;
  }
}
@media (max-width: 1023px) {
  .about__body {
    flex-direction: column;
    row-gap: 32px;
  }
}
@media (max-width: 767px) {
  .about__body {
    padding-right: 10px;
  }
}
.about__list {
  max-width: 503px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 1023px) {
  .about__list {
    max-width: 100%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .about__list {
    justify-content: start;
  }
}
.about__item {
  box-shadow: var(--shadow);
  padding: 12px 16px;
  border-radius: 100px;
}
@media (max-width: 767px) {
  .about__item {
    padding: 12px;
  }
}
.about__item-title {
  font-size: clamp(14px, 1.53vw, 22px);
  font-weight: 400;
  color: var(--color-gray-dark);
  white-space: nowrap;
}
.about__description {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.about__description-info {
  line-height: 1.3;
  max-width: 505px;
  font-size: clamp(20px, 1.94vw, 28px);
  font-weight: 300;
}
@media (max-width: 1023px) {
  .about__description-info {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .about__description-image {
    width: 50px;
    height: 50px;
  }
}
.about__description-blockquote {
  max-width: 521px;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  line-height: 1.5;
}
@media (max-width: 1023px) {
  .about__description-blockquote {
    max-width: 100%;
  }
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 32px;
}
@media (max-width: 1280px) {
  .grid {
    gap: 20px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (max-width: 767px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.how-it-works {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (max-width: 1023px) {
  .how-it-works__title {
    padding-top: 32px;
  }
}

.how-it-works-card {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  padding: 16px;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-small);
}

.calculator {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 60px;
  color: var(--color-light);
}
@media (max-width: 1023px) {
  .calculator {
    padding-inline: 30px;
  }
}
@media (max-width: 767px) {
  .calculator {
    padding-inline: 10px;
  }
}
.calculator__form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.calculator__body {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 1023px) {
  .calculator__body {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 480px) {
  .calculator__body {
    flex-direction: column;
    row-gap: 32px;
    justify-content: center;
    align-items: center;
  }
}
.calculator__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 1;
}
@media (max-width: 480px) {
  .calculator__item {
    width: 100%;
  }
}
.calculator__item-title {
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
}
.calculator__button {
  align-self: start;
}
@media (max-width: 1023px) {
  .calculator__button {
    align-self: center;
    width: 100%;
  }
}

.field {
  --fieldInputBorderRadius: 6px;
  --fieldInputBgColor: #00103d1f;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
@media (max-width: 1023px) {
  .field {
    padding-bottom: 10px;
  }
}
.field__input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 11px;
  border: 1px solid var(--fieldInputBgColor);
  border-radius: var(--fieldInputBorderRadius);
  cursor: pointer;
}
.field__input-large {
  height: var(--input-height-large);
}
@media (hover: hover) {
  .field__input:hover {
    background-color: var(--color-accent);
  }
  .field__input:hover::-moz-placeholder {
    color: var(--color-light);
    transition-duration: var(--transition-duration);
  }
  .field__input:hover::placeholder {
    color: var(--color-light);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .field__input:active {
    background-color: var(--color-accent);
  }
  .field__input:active::-moz-placeholder {
    color: var(--color-light);
    transition-duration: var(--transition-duration);
  }
  .field__input:active::placeholder {
    color: var(--color-light);
    transition-duration: var(--transition-duration);
  }
}
.field__input:focus-visible {
  border-color: var(--color-accent);
  outline: none;
}
.field__label {
  color: var(--color-gray);
  white-space: nowrap;
}

.radios {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
@media (max-width: 1023px) {
  .radios {
    margin-top: 16px;
  }
}

.radio {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
@media (hover: hover) {
  .radio:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .radio:active {
    opacity: 0.7;
  }
}
.radio__input:not(:checked) + .radio__emulator::after {
  opacity: 0;
}
.radio__emulator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  aspect-ratio: 1;
  position: relative;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: 50%;
  flex-shrink: 0;
}
.radio__emulator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 11px;
  aspect-ratio: 1;
  content: "";
  background-color: var(--color-accent);
  border-radius: inherit;
  transition-duration: var(--transition-duration);
}

.parameters {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (max-width: 1023px) {
  .parameters {
    row-gap: 0;
  }
}
.parameters__product-group {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (max-width: 1023px) {
  .parameters__product-group {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .parameters__product-group {
    padding-bottom: 0;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
}
.reviews__title {
  align-self: start;
}

.review-card {
  --shadowRewiewCard: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
  box-shadow: var(--shadowRewiewCard);
  border-radius: var(--border-radius);
  padding: 40px 50px 40px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (max-width: 1023px) {
  .review-card {
    padding: 32px 16px;
  }
}
.review-card__header {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.review-card__name-stars {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: relative;
}
.review-card__description {
  font-size: 18px;
  line-height: 1.3;
}
.review-card svg {
  color: #FFD400;
}

.consultation {
  padding-block: 100px;
  padding-inline: 60px 110px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 95px;
       column-gap: 95px;
}
@media (max-width: 1023px) {
  .consultation {
    padding: 60px 30px;
    flex-direction: column;
    row-gap: 24px;
  }
}
@media (max-width: 767px) {
  .consultation {
    padding-inline: 10px;
  }
}
.consultation__title {
  max-width: 464px;
}
@media (max-width: 1023px) {
  .consultation__title {
    max-width: 100%;
  }
}
.consultation__body {
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.consultation__description {
  width: 65%;
  font-weight: 300;
  line-height: 1.4;
}
@media (max-width: 1023px) {
  .consultation__description {
    width: 100%;
  }
}
.consultation__form-body {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: 32px;
}
@media (max-width: 1023px) {
  .consultation__form-body {
    row-gap: 14px;
  }
}
.consultation__privacy {
  font-size: 12px;
  color: var(--color-gray);
}
@media (max-width: 1023px) {
  .consultation__privacy {
    padding-block: 10px;
  }
}

.soc1als {
  padding-bottom: 8px;
}
.soc1als__list {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.soc1als__item {
  width: 32px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  background-color: var(--color-gray);
  border-radius: 8px;
}
.soc1als__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding-block: 90px;
}
@media (max-width: 1023px) {
  .footer {
    padding-block: 60px;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .footer__inner {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 32px;
  }
}
.footer-privacy__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}
.footer__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .footer__actions {
    align-items: start;
  }
}
.footer__soc1als {
  align-self: end;
}
@media (max-width: 767px) {
  .footer__soc1als {
    align-self: start;
  }
}/*# sourceMappingURL=styles.css.map */